version: '3.8'

services:
  php:
    build: .
    container_name: mysite_php
    volumes:
      # На сервере мы всё равно делаем git pull, 
      # поэтому проброс папки гарантирует, что код будет самым свежим
      - .:/var/www/mysite
      - ./db:/var/www/mysite/db
    restart: always

  nginx:
    image: nginx:alpine
    container_name: mysite_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/mysite  # Nginx видит ту же папку, что и PHP
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - php