version: '3.8'

services:
  php:
    build: .
    container_name: mysite_php
    restart: always
    env_file: .env
    volumes:
      - .:/var/www/mysite          # код сайта
      - ./_hidden_db_:/var/www/database_protected:ro  # ← ТОЛЬКО для PHP, только чтение!

  nginx:
    image: nginx:alpine
    container_name: mysite_nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      # Nginx все еще нужен доступ к папке проекта для отдачи статики
      - .:/var/www/mysite:ro       # ← НЕТ монтирования _hidden_db_!
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - php 