version: '3.8'

services:
  php:
    build: .
    container_name: mysite_php
    restart: always
    env_file: .env
    volumes:
      # Пробрасываем ТОЛЬКО папку с базой. 
      # Код берется из образа, собранного в Dockerfile
      - ./db:/var/www/mysite/db

  nginx:
    image: nginx:alpine
    container_name: mysite_nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      # Nginx все еще нужен доступ к папке проекта для отдачи статики
      - .:/var/www/mysite:ro
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - php 