name: Docker Build and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Test
        run: docker build . --file Dockerfile 

  deploy:
    runs-on: ubuntu-latest
    needs: build # Деплой начнется только если тест сборки (build) прошел успешно
    steps:
      - name: Executing remote ssh commands using ssh-key
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # 1. Переходим в папку (используйте полный путь от корня!)
            cd /home/${{ secrets.SSH_USER }}/server-setup/website 
            
            # 2. Обновляем код
            git pull origin main
            
            # 3. Запускаем Docker по полному пути
            # Команда 'which docker' на 99% серверов выдает /usr/bin/docker
            # Мы используем полный путь, чтобы bash не смог сказать "я не нашел команду"
            /usr/bin/docker compose up -d --build
