name: Docker Build and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Test
        run: docker build . --file Dockerfile 

  deploy:
    runs-on: ubuntu-latest
    needs: build # Деплой начнется только если тест сборки (build) прошел успешно
    steps:
      - name: Executing remote ssh commands using ssh-key
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            export PATH=$PATH:/usr/local/bin:/usr/bin
            cd server-setup/website || { echo "Directory not found"; exit 1; }
            
            echo "--- Текущая папка: $(pwd) ---"
            
            # 1. Жестко сбрасываем состояние git, чтобы исключить конфликты
            git fetch origin main
            git reset --hard origin/main
            
            echo "--- Последний коммит на сервере теперь: ---"
            git log -1 --format="%s (%h)"
            
            # 2. Пересборка
            echo "--- Запуск Docker Compose ---"
            docker compose up -d --build
            
            # 3. Проверка: запущены ли контейнеры?
            docker compose ps
            
            echo "Deploy finished successfully at $(date)"
